<div class="banner">

    <div class="container">

        <div class="row" id="contact">
            <div class="col-lg-4">
                <h2 style="margin-bottom:20px">Contact Doug for more information</h2>
            </div>
            <div class="col-lg-8">
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="mailto:dougrosenberg55@gmail.com" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-envelope"></i> <span class="network-name">Email</span></a>
                    </li>
                    <li>
                        <a href="tel:6122062983" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-phone-alt"></i> <span class="network-name">Phone 612-206-2983</span></a>
                    </li>

                </ul>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.banner -->