
<!-- Page Content -->
<div class="content-section-a">

    <div class="container">

        <div class="row" id="about">
            <div class="col-lg-4 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Build your dream home in NE Minneapolis</h2>
                <p class="section-description">
                        <p>Less than a block to Metro Transit bus line (#25 on McKinley St.)</p>
                        <p>Steps away from St. Anthony Parkway and the Ground Rounds Scenic Byway</p>
                        <p>7-minute walk to 29th &amp; Johnson St. restaurants and businesses</p>
                        <p>Beautiful colors on Brighton Avenue in autumn</p>
                        <p>Great neighbors!</p>
                </p>
                
            </div>
            <div class="col-lg-6 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/winter.jpg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>


<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Lot Size: 4,989 Sq. Ft.</h2>
                <p class="section-description">
                        <p>0.11 Acres</p>
                        <p>Residential Zoning: R1</p>
                        <p>Dimensions: 62.5 x 100 x 32 x 112</p>
                        <p>Lot 12, Block 2, Thorpe Bros. Shady Oaks Addition</p>
                        <p>Alleyway access</p>
                        <p>Hole needs to be filled in place of former 352 sq ft. foundation</p>
                </p>
            </div>
            <div class="col-lg-6 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/parcel.jpg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>

<div class="content-section-a">

    <div class="container">

        <div class="row" id="map">
            <div class="col-lg-6 col-sm-offset-0 col-sm-12 col-xs-10 col-xs-offset-1">
                <div id="map-canvas"></div>
            </div>
            <div class="col-lg-6 col-sm-offset-0 col-sm-12 col-xs-10 col-xs-offset-1">
                <div id="pano"></div>
                <small>Structures on the property were removed winter 2014</small>
            </div>            
        </div>

    </div>
    <!-- /.container -->

</div>
