
<!-- Page Content -->
<div class="content-section-a">

    <div class="container">

        <div class="row" id="about">
            <div class="col-lg-4 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Build your dream home in NE Minneapolis</h2>
                Descripion goes here
            </div>
            <div class="col-lg-6 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/winter.jpg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>


<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Build your dream home in NE Minneapolis</h2>
                Descripion goes here
            </div>
            <div class="col-lg-6 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/parcel.jpg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>

<div class="content-section-a">

    <div class="container">

        <div class="row" id="map">
            <div class="col-lg-6 col-sm-12">
                <div id="map-canvas"></div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div id="pano"></div>
            </div>            
        </div>

    </div>
    <!-- /.container -->

</div>
